{% extends 'layout.html' %}

{% block body %}
  <h1>Registrarse</h1>
  {% from "includes/_formhelpers.html" import render_field %}
  <form method="POST" action="">
    <div class="form-group">
      {{render_field(form.nombre, class_="form-control")}}
    </div>
    <div class="form-group">
      {{render_field(form.correoelectronico, class_="form-control")}}
    </div>
    <div class="form-group">
      {{render_field(form.nombreusuario, class_="form-control")}}
    </div>
    <div class="form-group">
      {{render_field(form.contrasena, class_="form-control")}}
    </div>
    <div class="form-group">
      {{render_field(form.confirm, class_="form-control")}}
    </div>
    <p><input type="submit" class="btn btn-primary" value="Enviar"></p>
  </form>
{% endblock %}
